.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.links {
  display: flex;
  gap: 1rem;
  color: blue;
}

.links .active {
  text-decoration: underline;
}
